.wrapper {
	max-width: 402px;
	width: 100%;
	height: 100%;
}

.title {
	font-size: 28px;
	font-weight: 700;
	line-height: 1.29;
}

.item {
	padding: 12px 0;
}

.loading {
	max-width: 35px;
	margin: 0 auto;
}

.cart_container {
	position: absolute;
	top: 0;
	right: 0;
	width: 150px;
}

.cart {
	position: fixed;
}

.unit {
	margin: 8px 0 12px 0;
}

@media only screen and (max-width: 768px) {
	.wrapper {
		max-width: 322px;
	}
}

@media only screen and (max-width: 425px) {
	.wrapper {
		max-width: 279px;
	}
}
