.wrapper {
	max-width: 1356px;
	margin: 0 auto;
	padding: 16px calc(min(277px, max(16px, (100vw - 1000px) / (1400 - 1000) * (277 - 101) + 101px))) 16px 16px;
	height: 100%;
	min-height: 100vh;

	display: flex;
	flex-direction: column;
	gap: 25px;
}

.main {
	flex: 1 1 auto;
}

.footer {
	position: relative;
	z-index: 2;

	text-align: center;
}

.loading {
	max-width: 100px;
	margin: 0 auto;
}
