.wrapper {
	width: 100%;
	height: 100%;
	aspect-ratio: 1/1;
}

.loader {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	border: 2px solid var(--color-white);

	border-left: none;
	animation: loader 0.5s linear infinite;
}

@keyframes loader {
	0% {
		transform: rotate(0deg);
	}
	50% {
		transform: rotate(180deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
