.wrapper {
	cursor: pointer;
	position: fixed;
	bottom: 16px;
	right: 16px;

	width: 60px;
	height: 60px;

	display: flex;
	align-items: center;
	justify-content: center;

	border-radius: 50%;
	background: #ffffffa2;

	transform: translate3d(200%, 0, 0);
	transition: transform 0.3s;

	&.open {
		transform: translate3d(0, 0, 0);
	}
}

.arrow {
	width: 15px;
	height: 15px;
	border-top: 2px solid var(--color-black);
	border-right: 2px solid var(--color-black);
	transform: translate3d(0, 2px, 0) rotate(-45deg);
}

@media only screen and (max-width: 650px) {
	.wrapper {
		bottom: 96px;
	}
}
